/* Style de base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #312d2d;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  background-color: #312d2d;
  color: rgb(10, 13, 191);
  padding: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.links a {
  text-decoration: none;
  color: #007bff;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #007bff;
  color: white;
}

.containers {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containers a {
  text-decoration: none;
  color: #dc3545;
  margin-bottom: 10px;
}

.containers button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.containers button:hover {
  background-color: #c82333;
}

.containers h2 {
  margin-top: 10px;
  margin-bottom:5px;
  color: #edf0f3;
}

/* Centrer l'input */
input {
  transform: translate(101px, -1px);
}

/* Style du tableau */
table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #edf0f3;
}


/* 

tr:nth-child(even) {
  background-color: #312d2d;
} */
